body {
    background-color:cornflowerblue;
}

h1 {
    font-size: 3em;
    color:aliceblue;
}

li {
    color: aliceblue
}

a {
    font-size: 1em;
    letter-spacing: 1px;
    color: aliceblue;
}


hr {
    color: aliceblue;
}